.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-arabic {
  width: 2.125em;
}

.icon-eng {
  width: 2.125em;
}

.icon-facebook {
  width: 0.619140625em;
}

.icon-mail {
  width: 1.25em;
}

.icon-tiktok {
  width: 0.9521484375em;
}
