.header{
	display: flex;	
}
.sidebar-background{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 39;
	left: 120px;
	background-color: rgb(50 50 50 / 60%);
	opacity: 0,25;
	overflow-y: hidden;
	margin-right: 15px;
	&.active{
		display: block;
	}
}
.sidebar {
	z-index: 50;
	position: fixed;
	top:0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-right: 1px dashed rgba(255,255,255,1);
	transition: all 0.75s;
	&.active{
		border-right: 1px dashed rgba(255,255,255,0);
	}
    height: 100vh;
    width: 120px;
    @media screen and (max-width: $tabletWidth) {
		width: 100px;
	}
	@media screen and (max-width: $roomsWidth) {
		width: 90px;
	}
    background: $background-color;
	@media screen and (max-width: $phoneWidth),
	 screen and (max-height:350px){
		border: none;
	}
		&__wrap {
			flex: 0 0 75%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			margin-top: 50px;
			@media screen and (max-width: $phoneWidth),
	 screen and (max-height:350px){
				margin: 0;
				flex: none;

			}
		}
		// .sidebar__social-links

		&__social-links {
			@media screen and (max-width:$phoneWidth){
				display: none;
			}
		}
		@media screen and (max-width: $phoneWidth),
	 screen and (max-height:350px){
			width: 100%;
			height: 60px;
			flex-direction: row-reverse;
			justify-content: space-between;
			padding: 0 20px;
		}
}
.social-links {
		&__mobile{
			@media screen and (min-width:$phoneWidth){
				display: none;
			}
		}
		// .social-links__wrap

		&__wrap {
		}

		// .social-links__list

		&__list {
			margin: 0;
			padding: 0;
		}

		// .social-links__item

		&__item {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		// .social-links__link

		&__link {
		}
}
.sidebar-list {
	margin: 0;
		// .sidebar-list__button-wrap

		&__button-wrap {
			width: 32px;
			height: 32px;
		}

		// .sidebar-list__wrap

		&__wrap {
		}

		// .sidebar-list__item

		&__item {
		}
}
.burger-btn{
	cursor: pointer;
	width: 32px;
	height: 32px;
	position: relative;
	z-index:2;
	margin-right: 0px;
	overflow: hidden;
	&:hover span{
		background:  $hover-color ;
	}
	&:active span{
		background:  $active-color ;
	}
	
}
.burger-btn span{
	width: 32px;
	height: 4px;
	border-radius: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $mainFontColor;
	transition: all 0.3s ease-in-out;
	
}

.burger-btn span:nth-of-type(2) {
	top: calc(50% - 12px);
}
.burger-btn span:nth-of-type(3) {
	top: calc(50% + 12px);
}
.burger-btn.active span:nth-of-type(1) {
	opacity: 0;
}
.burger-btn.active span:nth-of-type(2) {
	top: 50%;
  	transform: translate(-50%, 0%) rotate(135deg); 
}
.burger-btn.active span:nth-of-type(3) {
	top: 50%;
  	transform: translate(-50%, 0%) rotate(-135deg); 
}
.sidebar-contacts {
	@media screen and (max-width: $phoneWidth),
	 screen and (max-height:350px){
		display: none;
	}
}
.contacts {
		&__link{
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		// .contacts__wrap

		&__wrap {
			display: flex;
			flex-direction: column;
			&--mobile{
				align-self: flex-end;
				@media screen and (min-width:$phoneWidth){
				display: none;
				
			}
			}
		}
}
.sidebar-lang {
	display: none;
	text-align: center;
	&.active{
		display: block;
	}
	&>span{
		cursor: pointer;
		color: #FFFFFF;
		&:hover {
			background: $hover-color;
			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
		}
		&:active{
			background: $active-color;
			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
		}
	}
	&__wrap{
		padding: 0 15px;
		position: relative;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
		@media screen and (max-width:$phoneWidth){
			margin: 0;
		}
	}
	
	&__current{

	}
	&__list{
		display: none;
		position: absolute;
		bottom: -15px;
		left: -25px;
		right: -25px;
		margin: auto;
		gap:15px;

		&.active{
			display: flex;
		}
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 15px;
		border-radius: 5px;
		background: #111;
	}
	&__item{
		cursor: pointer;
		color: #FFFFFF;
		&:hover{
			background:  $hover-color ;
			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
		}
		&:active{
			background: $active-color;
			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
		}
		&.selected{
			background:  $hover-color ;
			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
  			order: 99;
		}
		
	}
}

.navigation {
	z-index: 40;
	position: fixed;
	top:0;
	
	left: -160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 1px dashed #FFFFFF;
    width: 280px;
    @media screen and (max-width: $tabletWidth) {
		width: 260px;
	}
	@media screen and (max-width: $roomsWidth) {
		left: -170px;
	}
	height: 100vh;
    background: $background-color;
	// transform: translateX(-100%);
	transition: transform 0.75s;

	&.active{
		transform: translateX(100%);
	}
	@media screen and (max-width: $phoneWidth),
	 screen and (max-height:350px){
		display: block;
		top: 60px;
		left: 0;
		overflow: scroll;
		width: 100%;
		height: min(calc(100vh - 60px), 420px);
		border: none;
		background: $mobile-background-color;
		transform: translateY(-150%);
		&.active{
			transform: translateY(0);
		}
	}
	
	

		// .navigation__wrap

		&__wrap {
			@media screen and (max-width:$phoneWidth),
	 screen and (max-height:350px){
				display: flex;
				width: 100%;
				height: 420px;
				padding: 0 20px;
				flex-direction: row;
				justify-content: space-between;
			}
		}

		// .navigation__list

		&__list {
		}

		// .navigation__item

		&__item {
			font-family: $headFont;
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 40px;
			&:not(:last-child) {
				margin-bottom: 36px;
				@media screen and (max-width: $phoneWidth),
	 screen and (max-height:350px){
					margin-bottom: 14px;
				}
			}
			@media screen and (max-width: $phoneWidth),
	 screen and (max-height:350px){
				text-align: center;
				font-weight: 600;
				font-size: 20px;
				line-height: 40px;
			}
		}

		// .navigation__link

		&__link {
			color: #FFFFFF;
			&:hover {
				background: $hover-color;
				-webkit-background-clip: text;
  				-webkit-text-fill-color: transparent;
			}
			&:active{
				background: $active-color;
				-webkit-background-clip: text;
  				-webkit-text-fill-color: transparent;
			}
			
		}
}
