//Roboto
@font-face {
	font-family: Roboto;
	font-weight: 300;
	src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
	font-family: Roboto;
	font-weight: 400;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto;
	font-weight: 500;
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
	font-family: Roboto;
	font-weight: 700;
	src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

//PTSans
@font-face {
	font-family: PTSans;
	font-weight: 400;
	src: url(../fonts/PT_Sans/PTSans-Regular.ttf);
}
@font-face {
	font-family: PTSans;
	font-weight: 700;
	src: url(../fonts/PT_Sans/PTSans-Bold.ttf);
}

//Playfair_Display
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 300;
	font-variation-settings: 'wght' 300;
	src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 400;
	font-variation-settings: 'wght' 400;
	src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 500;
	font-variation-settings: 'wght' 500;
	src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 700;
	font-variation-settings: 'wght' 700;
	src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

//Chivo
@font-face {
	font-family: Chivo;
	font-weight: 300;
	src: url(../fonts/Chivo/Chivo-Light.ttf);
}
@font-face {
	font-family: Chivo;
	font-weight: 400;
	src: url(../fonts/Chivo/Chivo-Regular.ttf);
}
@font-face {
	font-family: Chivo;
	font-weight: 700;
	src: url(../fonts/Chivo/Chivo-Bold.ttf);
}


//Poppins
@font-face {
	font-family: Poppins;
	font-weight: 400;
	src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
	font-family: Poppins;
	font-weight: 500;
	src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
	font-family: Poppins;
	font-weight: 700;
	src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

//Aguafina Script
@font-face {
	font-family: AguafinaScript;
	font-weight: 400;
	src: url(../fonts/Aguafina_Script/AguafinaScript-Regular.ttf)
}
