@use 'sass:math';
@import '../../../node_modules/modern-normalize/modern-normalize.css';
@import 'utils/mixins';
@import './utils/vars';
@import './utils/vars';
@import './utils/utils-collection';
@import './utils/presets';
@import './utils/text-styles';
@import './utils/container';
@import './utils/swiper';
@import './utils/slider';
@import './utils/def-slider';
@import './utils/slick';
@import './header';
@import './footer';
@import './fonts';
@import './sections/section-main';
@import './sections/section-about';
@import './sections/section-story';
@import './sections/section-rooms';
@import './sections/section-follow';
@import './sections/section-menu';
@import './sections/section-contacts';
@import './sections/section-confirmation';
@import './menu-page';
@import './fourzerofour';


body{
	position: fixed;
}
button:hover,
button:focus {
	cursor: pointer;
}
* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
  color: inherit;
  &:not(.def-link){
	text-decoration: inherit; /* no underline */
  }
  &:hover{
	color: inherit;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}
.ibg{
	background-position: center;
	background-repeat: no-repeat;
	&--contain{
		background-size: contain;
	}
	&--cover{
		background-size: cover;
	}
	&--gray{
		filter: grayscale(1);
		transition: all 0.5s;
		background-position: 15%;
		&:hover{
			filter: grayscale(0);
		}
	}
	&--x-center{
		@media screen and (max-width:$phoneWidth){
			background-position-y: 70%;
		}
	}
	&--p-top{
		@media screen and (max-width:$roomsWidth){
			background-position-y: top;
		}
	}
}
.page-content-wrapper{
		position: fixed;
		left: 120px;
		right: 0;
		height: 100%;
		overflow-x: auto;
		background: $background-color;
		&.lock{
		display: block;
		position: fixed;
		margin-right: 15px;
		background-color: rgba(0,0,0,.4);
		overflow-y: hidden;
		}
		@media screen and (max-width: $tabletWidth) {
			left: 100px;
		}
		@media screen and (max-width: $roomsWidth) {
			left: 90px;
		}
		@media screen and (max-width: $phoneWidth){
			top: 60px;
			bottom: 0;
			left: 0;
			right: 0;
			height: auto;
		}
		scrollbar-width: thin;
		&::-webkit-scrollbar {
			width: 15px;
			@media screen and (max-width: $phoneWidth){
				width: 10px;
			}
		}

		&::-webkit-scrollbar-track {
			background-color: $background-color;
			border-radius: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #555;
			border: 3px solid transparent;
			border-radius: 5px;
			background-clip: content-box;
		}
}

.section-wrapper {
	display: flex;
	width: 100%;
	  &--contacts{
		height: auto;
	  }
	//   &--follow{
	// 	height: -webkit-fill-available;
	//   }
	@media screen and (max-width:$smTabletWidth){
		height: -webkit-fill-available;
	}
	@media screen and (max-width:$phoneWidth){
		background-position: right;
			
	}
}
.svg-wrap{
	width: 24px;
	height: 24px;
	fill: #FFFFFF;
	stroke: #FFFFFF;
	&--image{
		width: 60px;
		height: 60px;
		@media screen and (max-width:$tabletWidth){
			width: 38px;
			height: 38px;
		}
		@media screen and (max-width:$phoneWidth){
			width: 24px;
			height: 24px;
		}
	}
	&--person{
		width: 32px;
		height: 32px;
		@media screen and (max-width:$phoneWidth){
			width: 24px;
			height: 24px;
		}
	}
	&--nav-next,
	&--nav-prev{
		position: absolute;
		top: 40%;
		z-index: 10;
		width: 40px;
		height: 40px;
		@media screen and (max-width:$phoneWidth){
			top: 90%;
		}
		&--menu{
			width: 40px;
			height: 40px;
			position: relative;
			@media screen and (max-width:$tabletWidth){
				width: 32px;
				height: 32px;
			}
			@media screen and (max-width:$phoneWidth){
				width: 24px;
				height: 24px;
			}
		}
	}
	&--nav-next{
		right: 3%;
	}
	&--nav-prev{
		left: 3%;
	}
	&--follow{
		width: 70px;
		height: 70px;
		@media screen and (max-width:1280px){
			width: 40px;
			height: 40px;
		}
		@media screen and (max-width:576px){
			width: 24px;
			height: 24px;
		}
	}
	&--heart{
		position: relative;
		padding: 10px;
		width: 100px;
		height: 100px;
		transition: all 0.6s;
	  animation:pulse 0.9s ease-in-out;
		animation-iteration-count: infinite;
		@media screen and (max-width:1280px){
			width: 75px;
			height: 75px;
		}
		
	}

	&:hover{
		fill: url(#hover-svg-gradient) #FEE159;
		stroke: url(#hover-svg-gradient) #FEE159;
		
	}
	&:active{
		fill: url(#active-svg-gradient) #9747FF;
		stroke: url(#active-svg-gradient) #9747FF;
	}
}

.title,
.pretitle {
    font-family: $headFont;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    color: $mainFontColor;

}
.pretitle{
	font-weight: 400;
}
.title-rooms{
	font-family: $roomFont;
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 65px;
	color: #FFFFFF;
	@media screen and (max-width:$tabletWidth){
		font-size: 32px;
		line-height: 41px;
	}

}
.text {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: $mainFontColor;
}

// 
.def-modal {
	transition: background 0.8s, z-index 0s 0.8s;
	background: rgba(50,50,50,0);
	z-index: -50;
	position: fixed;
	right: 0;
	height: 100%;
	left: 120px;
	top: 0;
	@media screen and (max-width: 992px) {
		left: 100px;
	}
	@media screen and (max-width: 890px) {
		left: 90px;
	}
	@media screen and (max-width: 576px) {
		left: 0;
		top: 60px;
	}
	&--center{
		left: 0;
	}
	&.light{
		color: #232020;
		.def-modal__wrapper{
			background: #FFF;
		}
		.def-modal__cross-line{
			background: #232020;
			border: 1px solid #232020;
		}
		&.modal-active{
			backdrop-filter: blur(3px);
		}
		transition: all 0.8s;
		backdrop-filter: blur(0px);
		background: transparent;
	}
	&.modal-active{
		transition: all 0s;
		z-index: 450;
		background: rgba(50,50,50,0.4);
		&.important{
			z-index: 600;
		}
		.def-modal__outer-container{
			transition: all 0.8s;
			transform: translateY(-100%);
		}
	}
	&__outer-container {
		position: relative;
		display: flex;
		min-width: 0;
		justify-content: center;
		align-items: center;
		transition: all 0.8s; // after .8s to allow the model to disappear
		// width: 100%;
		height: 100%;
		top: 100%;
		left: 0;
		overflow-y: scroll;
		padding: 20px 25px;
		box-sizing: border-box;
		z-index: 5;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
	}
	&__inner-container {
		// margin: auto;
		padding: 50px 20px;
		//max-height: 100%;
		&--100{
			flex: 0 0 100%;
		}
		&--75{
			flex: 0 0 75%;
			@media screen and (max-width: 772px) {
				flex: 0 0 100%;
			}
		}
		&--50{
			flex: 0 0 50%;
			@media screen and (max-width: 992px) {
				flex: 0 0 75%;
			}
			@media screen and (max-width: 772px) {
				flex: 0 0 100%;
			}
		}
	}
	&__wrapper {
		display: flex;
		position: relative;
		z-index: 10;
		background: #3A3838;
		border-radius: 10px;
		padding: 40px 50px;
	}
	&__top {
		// min-width: 0;
		// // width: 100%;
		display: block;
		align-items: center;
		justify-content: space-between;
	}
	&__title {
		justify-self: start;
	}

	&__cross {
		position: absolute;
		top: 20px;
		right: 20px;
		justify-self: end;
		cursor: pointer;
		height: 24px;
		width: 24px;
		display: flex;
		justify-content: center;
		@media screen and (max-width:$phoneWidth){
			height: 20px;
			width: 20px;
		}
	}
	&__cross-line {
		height: 100%;
		box-sizing: border-box;
		border: 1px solid #FFF;
		background: #FFF;
		border-radius: 2px;
		transform-origin: 50% 50%;
		&--1 {
			transform: translateX(1px) rotate(-135deg);
		}
		&--2 {
			transform: translateX(-1px) rotate(135deg);
		}
	}
	&__content-wrapper{

	}
}
.animation-wrapper{
	height: 300px;
}

.work-calendar {
	display: flex;
	padding-right: 5px;
	&__time-column {
		display: flex;
		flex-direction: column;
		padding: 0 5px;
	}
	&__time {
		border-top: 1px solid #555;
		padding: 5px;
		flex: 0 0 75px;
		@media screen and (max-width: $smTabletWidth) {
			font-size: 12px;
		}
	}
	&__column {
		flex: 1 1 25%;
		display: flex;
		flex-direction: column;
		padding: 0 15px;
		border: 1px solid #555;
		@media screen and (max-width: $smTabletWidth) {
			padding: 0 5px;
		}
	}
	&__title {
		height: 3em;
	}
	&__day-wrapper {
		border-top: 1px dashed #555;
		flex: 0 0 calc(75px * var(--hours, 1));
		padding: 2px 0;
	}
	&__day {
		background: var(--roomColor);
		border-radius: 5px;
		width: 100%;
		height: 100%;
		display: flex;
		padding: 5px;
		cursor: pointer;
	}
	&__day-content{
		width: 100%;
		padding-left: 5px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

	}

	&__navigation {
		display: flex;
		justify-content: space-around;
	}
	&__nav {
		text-decoration: underline;
		&--left {
			text-decoration: none;
		}
		&--right {
			text-decoration: none;
		}
		&.active{
			text-decoration: none;
			font-weight: 700;
			cursor: default;
		}
		&.side{
			@media screen and (max-width: $smTabletWidth) {
				display: none;
			}
		}
	}
}
.order-item-list {
	&__item {
		margin-left: 15px;
		padding: 10px 0;
		&:not(:last-child){
			border-bottom: 1px solid #555;
		}
	}
	&__item-title {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		@media screen and (max-width: $smTabletWidth) {
			flex-wrap: wrap;
		}
		margin-bottom: 15px;
	}
	&__item-title-element{
		flex-grow: 1;
		@media screen and (max-width: $smTabletWidth) {
			flex: 0 0 100%;
		}
		padding: 3px 15px;
		&--small{
			flex: 0 0 auto;
			@media screen and (max-width: $smTabletWidth) {
				flex: 0 0 50%;
			}
		}
	}
	&__item-description {
		margin-left: 30px;
		color: #ccc;
	}
}
@keyframes appear{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
.note-particle-system{
	z-index:-1;
	overflow: hidden;
	width: 100%;
	margin: auto;
	margin-top: -300px;
	margin-bottom: -300px;
	height: 700px;
	@media screen and (max-width: $smTabletWidth) {
		margin-top: -175px;
		margin-bottom: -200px;
		height: 350px;
	}
	.particle-sim-container{
		width: 100%;
		height: 100%;
		position: relative;
	}
	.note {
		svg{
			animation: appear 0.3s cubic-bezier(.72,.08,.58,2.5);
		}
		
		z-index: -5;
		filter: drop-shadow(0px 0px 4px var(--highlightColor, #fff));
	}
	.particle-preview{
		display: none;
	}
	.particle{
		// z-index: -4;
		width: 40px;
		@media screen and (max-width: $smTabletWidth) {
			width: 60px;
		}

		svg{
			width: 100%;
			height: auto;
		}
		
		position: absolute;
	}
}

