@use 'sass:math';
@import '../../../node_modules/modern-normalize/modern-normalize.css';
@import 'utils/mixins';
@import './utils/vars';
@import './utils/vars';
@import './utils/utils-collection';
@import './utils/presets';
@import './utils/text-styles';
@import './utils/container';
@import './utils/swiper';
@import './header';
@import './fonts';
@import './section-main';
@import './section-about';
@import './section-rooms';

body{

}
body.lock{
	overflow: hidden;
}
button:hover,
button:focus {
	cursor: pointer;
}
* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
  color: inherit;
  &:not(.def-link){
  	text-decoration: inherit; /* no underline */
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}
.ibg{
	background-position: center;
	background-repeat: no-repeat;
	&--contain{
		background-size: contain;
	}
	&--cover{
		background-size: cover;
	}
	&--gray{
		filter: grayscale(1);
		background-position: 15%;
		&:hover{
			filter: grayscale(0);
		}
	}
	&--p-top{
		@media screen and (max-width:$roomsWidth){
			background-position-y: top;
		}
	}
}
.page-content-wrapper{
		position: fixed;
		left: 120px;
		right: 0;
		height: 100%;
		overflow-x: auto;
		background: $background-color;
		@media screen and (max-width: $tabletWidth) {
			left: 100px;
		}
<<<<<<< Updated upstream
		@media screen and (max-width: $roomsWidth) {
			left: 90px;
=======
		@media screen and (max-width:$tabletWidth){
			left: 90px;

>>>>>>> Stashed changes
		}
		@media screen and (max-width: $phoneWidth){
			top: 60px;
			bottom: 0;
			left: 0;
			right: 0;
			height: auto;
		}
		scrollbar-width: thin;
		&::-webkit-scrollbar {
			width: 15px;
		}

		&::-webkit-scrollbar-track {
			background-color: $background-color;
			border-radius: 5px;
			
			

				// background-color: darkgrey;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #555;
			border: 3px solid transparent;
			border-radius: 5px;
			background-clip: content-box;
			// background-clip: content-box;
			// border-left: 10px solid red;
  		// 	border-right: 10px solid transparent;
			// background: #555;
			// border-radius: 2px;
				// box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		}
}
.section-wrapper {
      display: flex;
      width: 100%;
      // width: calc(100vw - 120px);
      background-position: center;
      background-size: cover;
      background-image: url(../images/back-down.jpg);
      @media screen and (max-width:$smTabletWidth){
            height: 100%;
      }
      @media screen and (max-width:$phoneWidth){
            background-position: right;
      }
}
.svg-wrap{
	width: 24px;
	height: 24px;
	fill: #FFFFFF;
	&--image{
		width: 60px;
		height: 60px;
		@media screen and (max-width:$tabletWidth){
			width: 38px;
			height: 38px;
		}
		@media screen and (max-width:$phoneWidth){
			width: 24px;
			height: 24px;
		}
	}
	&--person{
		width: 32px;
		height: 32px;
		@media screen and (max-width:$phoneWidth){
			width: 24px;
			height: 24px;
		}
	}
	&:hover{
		fill: url(#hover-svg-gradient) #FEE159;
	}
	&:active{
		fill: url(#active-svg-gradient) #9747FF;
	}
}
.title {
      font-family: $headFont;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      color: $mainFontColor;
}
.title-rooms{
	font-family: $roomFont;
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 65px;
	color: #FFFFFF;
	@media screen and (max-width:$tabletWidth){
		font-size: 32px;
		line-height: 41px;
	}

}
.text {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: $mainFontColor;
}

.def-modal {
	transition: background 0.8s, z-index 0s 0.8s;
	background: rgba(50,50,50,0);
	z-index: -50;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	&.modal-active{
		transition: all 0s;
		z-index: 450;
		background: rgba(50,50,50,0.4);
		.def-modal__outer-container{
			transition: all 0.8s;
			transform: translateY(-100%);
		}
	}
	&__outer-container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.8s; // after .8s to allow the model to disappear
		// width: 100%;
		height: 100%;
		top: 100%;
		left: 0;
		overflow-y: scroll;
		// padding: 20px 25px;
		box-sizing: border-box;
		z-index: 5;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
	}
	&__inner-container {
		margin: auto;
		padding: 50px 20px;
		//max-height: 100%;
		&--100{
			width: 100%;
		}
		&--75{
			width: 75%;
			@media screen and (max-width: 772px) {
				width: 100%;
			}
		}
		&--50{
			width: 50%;
			@media screen and (max-width: 992px) {
				width: 75%;
			}
			@media screen and (max-width: 772px) {
				width: 100%;
			}
		}
	}
	&__wrapper {
		position: relative;
		z-index: 10;
		background: #3A3838EE;
		// background: #FFF;
		border-radius: 4px;
		padding: 15px 25px;
	}
	&__top {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__title {
		justify-self: start;
	}

	&__cross {
		justify-self: end;
		cursor: pointer;
		height: 20px;
		width: 20px;
		display: flex;
		justify-content: center;
	}
	&__cross-line {
		height: 100%;
		box-sizing: border-box;
		border: 1px solid #FFF;
		background: #FFF;
		border-radius: 2px;
		transform-origin: 50% 50%;
		&--1 {
			transform: translateX(1px) rotate(-135deg);
		}
		&--2 {
			transform: translateX(-1px) rotate(135deg);
		}
	}
	&__content-wrapper{

	}
	&__video-wrapper {
		width: 100%;
		margin-bottom: 20px;
		//set aspect ratio
		&>iframe{
			width: 100%;
			height: 100%;
		}
	}
	&__image-wrapper {
		width: 100%;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		&--100{
			&>img{
				width: 100%;
				height: auto;
			}
		}
		&--75{
			&>img{
				width: 75%;
				height: auto;
			}
		}
		&--50{
			&>img{
				width: 50%;
				height: auto;
			}
		}
	}
	&__text-wrapper {
		text-align: left;
		&--center{
			text-align: center;
		}
	}
}