@use 'sass:math';
@import '../../../node_modules/modern-normalize/modern-normalize.css';
@import './utils/vars';
@import './utils/vars';
@import './utils/utils-collection';
@import './utils/presets';
@import './utils/container';
@import './header';
@import './fonts';


body{

}
button:hover,
button:focus {
	cursor: pointer;
}
* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
  color: inherit;
  &:not(.def-link){
  	text-decoration: inherit; /* no underline */
  }
}

