// chef section
.section-bg,
.section-sbg{
	padding: 50px 0;
}
.content-pretitle{
	margin-bottom: 30px;
	align-self: flex-start;
	margin-left: 12%;
}
.menu-section {
	width: calc(100% - 240px);
	margin: 0 auto;
	@media screen and (min-width:$desktopWidth){
		width: calc(100% - 240px - 48px);
	}
	@media screen and (max-width:$desktopWidth){
		width: calc(100% - 240px);
	}
	@media screen and (max-width:$tabletWidth){
		width: calc(100% - 10%);
	}
	// @media screen and (max-width: 1060px) {
	// 	width: calc(100% - 160px);
	// }
	// @media screen and (max-width:$tabletWidth){
	// 	width: calc(100% - 10%);

	// }
}
.menu-page {

		// .menu-page__title--mobile

		&__title--mobile {
			margin-bottom: 120px;
			@media screen and (max-width: $roomsWidth) {
				margin-bottom: 50px;
			}
		}

		// .menu-page__chef

		&__chef {

			display: flex;
			justify-content: space-between;
			align-items: center;
			@media screen and (max-width: $smTabletWidth) {
				flex-direction: column;
			}
		}
}
.chef {

		// .chef__img

		&__img {
			width: 50%;
			aspect-ratio: 0.65;
			position: relative;
			@media screen and (min-width: $desktopWidth) {
				width: 40%;
				aspect-ratio: 0.65;
			}
			@media screen and (max-width: $smDesktopWidth ) {
				width: 263px;
				height: 405px;
			}
			@media screen and (max-width: $tabletWidth){
				width: 50%;
				aspect-ratio: 0.70;
			}
			@media screen and (max-width: $smTabletWidth ){
				width: 70%;
				margin-bottom: 35px;
			}
		}
		&__img-foto {
			object-fit: cover;
			position: absolute;
			z-index: 3;
			width: 100%;
			height: 100%;
			border: none;
			border-radius: 8px;
			
		}

		// .chef__square

		&__square {
			position: absolute;
			display: flex;
			width: 60%;
			aspect-ratio: 1 / 1;
			border: 2px solid $mainFontColor;
			box-shadow: 10px 10px 6px #000000;
		}

		// .chef__description

		&__description {
			display: flex;
			flex-direction: column;
			width: 95%;
    		aspect-ratio: 1.55;
			justify-content: space-between;
			margin-left: 120px;
			@media screen and (min-width:$desktopWidth){
				margin-left: 180px;
			}
			@media screen and (max-width: $desktopWidth) {
				margin-left: 80px;
			}
			@media screen and (max-width: $smDesktopWidth) {
				margin-left: 60px;
			}
			@media screen and (max-width: $tabletWidth) {
				
			}
			@media screen and (max-width: $smTabletWidth) {
				margin-left: 0;
				aspect-ratio: 2;
			}
		}

		// .chef__word

		&__word {
			
			font-family:$mainFont;
			font-style: normal;
			font-weight: 400;
			color: $mainFontColor;
		}

		// .chef__title

		&__title {
			font-family: $headFont;
			font-style: normal;
			font-weight: 700;
			color: $mainFontColor;
			@media screen and (min-width:$desktopWidth){
				width: 70%;
			}
		}

		// .chef__data

		&__data {
			display: flex;
			justify-content: space-between;
			@media screen and (max-width:$smPhoneWidth){
				flex-direction: column;
			}
		}
		&__data-item{

		}

		// .chef__name

		&__name {
			display: flex;
			font-family: $headFont;
			font-style: normal;
			font-weight: 400;
			color: #FEE159;
			@media screen and (max-width:$smDesktopWidth){
				flex-wrap: wrap;
			}
		}
		&__text {
			font-family: $mainFont;
			font-style: normal;
			font-weight: 400;
			color: #979797;
		}

		
		// .chef__sign

		&__sign-item {
			display: flex;
			justify-content: space-between;
			font-family: $signFont;
			font-style: normal;
			font-weight: 400;
			color: #979797;
			@media screen and (max-width: $roomsWidth){
				justify-content: flex-start;
			}
		}
}
.square1 {
	top: -3%;
	right: -4%;
	background: #4AE6D8;
	
}
.square2 {
	left: -4%;
	bottom: -3%;
	background: #FC4F53;
}
.word {

		// .word__pretitle

		&__pretitle {
			@media screen and (max-width: $smTabletWidth) {
				display: none;
			}
			&--mobile{
				display: none;
				@media screen and (max-width: $smTabletWidth) {
					display: flex;
					align-self: flex-end;
					margin-bottom: 30px;
				}
			}
		}
}