// chef section

.menu-section {
	padding: 0 120px;
	@media screen and (max-width: $desktopWidth) {
		padding: 0 50px;
	}
}
.menu-page {

		// .menu-page__title--mobile

		&__title--mobile {
			margin-bottom: 120px;
			@media screen and (max-width: $roomsWidth) {
				margin-bottom: 50px;
			}
		}

		// .menu-page__chef

		&__chef {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media screen and (max-width: $roomsWidth) {
				flex-direction: column;
				
			}
		}
}
.chef {

		// .chef__img

		&__img {
			width: 380px;
			height: 470px;
			position: relative;
			@media screen and (max-width: $smDesktopWidth) {
				width: 255px;
				height: 348px;
			}
			@media screen and (max-width: $roomsWidth) {
				align-self: center;
				margin-bottom: 35px;
			}
		}
		&__img-foto {
			object-fit: cover;
			position: absolute;
			z-index: 3;
			width: 380px;
			height: 470px;
			border: none;
			border-radius: 8px;
			@media screen and (max-width: $smDesktopWidth) {
				width: 255px;
				height: 348px;
			}
		}

		// .chef__square

		&__square {
			display: flex;
			width: 251px;
			height: 251px;
			background: #3A3838;
			border: 1px dashed $mainFontColor;
			box-shadow: 10px 10px 6px #000000;
			@media screen and (max-width: $smDesktopWidth) {
				width: 180px;
				height: 190px;
			}
		}

		// .chef__description

		&__description {
			flex: 0 0 60%;
			margin-left: 40px;
			@media screen and (max-width: $roomsWidth) {
				margin-left: 0;
			}
		}

		// .chef__word

		&__word {
			margin-bottom: 20px;
			font-family:$mainFont;
			font-style: normal;
			font-weight: 400;
			color: $mainFontColor;
		}

		// .chef__title

		&__title {
			margin-bottom: 35px;
			font-family: $headFont;
			font-style: normal;
			font-weight: 700;
			color: $mainFontColor;
			@media screen and (max-width: $smDesktopWidth) {
				font-size: 52px;
			}
			@media screen and (max-width: $roomsWidth) {
				display: none;
			}
			&--mobile{
				align-self: flex-start;
				margin-bottom: 35px;
				font-family: $headFont;
				font-style: normal;
				font-weight: 700;
				color: $mainFontColor;
				display: none;
				@media screen and (max-width: $roomsWidth) {
				display: flex;
			}
			}
		}

		// .chef__speach

		&__speach {
			margin-bottom: 50px;
			line-height: 2.25em;
			font-family: $mainFont;
			font-style: normal;
			font-weight: 400;
			color: #979797;
			@media screen and (max-width: $smDesktopWidth){
				margin-bottom: 20px;
			}
		}

		// .chef__data

		&__data {
			margin-bottom: 50px;
		}

		// .chef__name

		&__data-name {
			font-family: $headFont;
			font-style: normal;
			font-weight: 400;
			color: #FEE159;
		}
		&__data-text {
			font-family: $mainFont;
			font-style: normal;
			font-weight: 400;
			color: #979797;
		}

		
		// .chef__sign

		&__sign {
			display: flex;
			font-family: $signFont;
			font-style: normal;
			font-weight: 400;
			color: #979797;
			@media screen and (max-width: $roomsWidth){
				justify-content: flex-end;
			}
		}
}
.square1 {
	margin-left: 145px;
	margin-top: -16px;
	@media screen and (max-width: $smDesktopWidth) {
				margin-left: 91px;
			}
}
.square2 {
	margin-left: -16px;
}
.word {

		// .word__pretitle

		&__pretitle {
			@media screen and (max-width: $roomsWidth) {
				display: none;
			}
			&--mobile{
				display: none;
				@media screen and (max-width: $roomsWidth) {
					display: flex;
					align-self: flex-end;
					justify-self: flex-end;
				}
			}
		}
}
.speach {
	display: flex;
	flex-direction: row;
		// .speach__quotes

		&__quotes {
			width: 30px;
			height: 30px;
			@media screen and (max-width: $tabletWidth) {
				width: 24px;
				height: 24px;
			}
			@media screen and (max-width: $phoneWidth){
				width: 16px;
				height: 16px;
			}
		}
}
.quotes2{
	justify-content: flex-end;
}
