.content__wrap{
	display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 90px 100px;
	@media screen and (max-width: 1050px){
		flex-direction: column-reverse;
		margin: 50px auto;
	};
}
.follow-us {

		// .follow-us__description

		&__description {
	
		}

		// .follow-us__wrapper

		&__wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 250px;
			position: relative;
			margin-right: 10px;
			@media screen and (max-width:1280px){
			height: 220px;
		}
		}

		// .follow-us__text

		&__text {
		}

		// .follow-us__content

		&__content {
			display: flex;
			
		}

		// .follow-us__item1

		&__item1 {
			position: absolute;
			top: 40px;
			left: -50px;
		}

		// .follow-us__item2

		&__item2 {
			margin-top: -20px;
		}

		// .follow-us__item3

		&__item3 {
			margin-top: 30px;
			@media screen and (max-width:1280px){
			margin-top: 5px;
		}
		}

		// .follow-us__item4

		&__item4 {
		}

		// .follow-us__item5

		&__item5 {

		}

		// .follow-us__item6

		&__item6 {
			margin-top: -20px;
			@media screen and (max-width:1280px){
			margin-top: -10px;
		}
		}

		// .follow-us__item7

		&__item7 {
		}

		// .follow-us__item8

		&__item8 {
			margin-top: -60px;
		}

		// .follow-us__imgs

		&__imgs {
			position: relative;
			display: flex;
			flex-direction: row;
			@media screen and (max-width:1050px){
				margin-bottom: 25px;
				width: inherit;
				justify-content: space-around;
	}
		}
}

.imgs-item {
	width: 255px;
	height: 386px;
	border-radius: 8px;
	@media screen and (max-width:1280px){
		width: 210px;
		height: 330px;
	}
	&--50{
		margin-bottom: -50px;
		@media screen and (max-width:1050px) {
			margin: 0px;
		};
	}
}
.follow-title{
	@media screen and (max-width:1050px){
		display: none;
	}
}
.follow-title--adaptive{
	display: none;
	@media screen and(max-width:1050px){
		display: block;
	}
}
