.section-wrapper {
      display: flex;
      width: 100%;
      // width: calc(100vw - 120px);
      
      background-size: cover;
      background-image: url(../images/back-down.jpg);
}
.about {

		// .about__wrap

		&__wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 100px 105px;
            @media screen and (max-width: $smDesktopWidth){
                padding: 55px;  
            }
		}

		// .about__img

		&__img {
            width: 100%;
            border-radius: 10px;
            
            @media screen and (max-width: $desktopWidth){
                  flex: 0 0 60%;
            }
		}

		// .about__description

		&__description {
            flex: 0 0 50%;
            @media screen and (max-width: $desktopWidth){
                  flex: 0 0 40%;
            }
		}
}
.img-about {
    width: 100%;
}
.description {
    flex: 0 0 50%;
		// .description__border

		&__border {
                  width: 100%;
                  border: 1px dashed #FFFFFF;
		}

		// .description__title

		&__title {
            margin-bottom: 25px;
		}
        // .description__item

		&__item {
            padding: 40px 35px;
            background: #3A3838;
            border-radius: 8px;
            margin-left: -150px;
            margin-bottom: 45px;
            @media screen and (max-width: $tabletWidth){
                  
            }
		}

		// .description__text

		&__text {
            margin-bottom: 10px;
		}
}
.title {
      font-family: $headFont;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 40px;
      color: $mainFontColor;
      margin: 0;
}
.text {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $mainFontColor;
}
