<%- include('inc/header.html') %>

	<div class="page-content-wrapper">
		<div class="container">
			<div class="booking-confirmation">
				<div class="booking-confirmation__title">
					Confirmation
				</div>
				<div class="booking-confirmation__description">
					<span>
						Thank you for choosing our karaoke house
						<div class="booking-confirmation__description-decoration">
							<img src="../assets/images/et_heart.png" alt="">
						</div>
					</span>
					
				</div> 
				<div class="booking-confirmation__details">
					<div class="booking-confirmation__details-decor">
						
					</div>
					<div class="booking-confirmation__details-content">
						<div class="booking-confirmation__content-row">
							<span>Your order has been confirmed</span>
						</div>
						<div class="booking-confirmation__content-row">
							<span>Order number AB123456</span>
						</div>
						<div class="booking-confirmation__tables">
							<div class="booking-confirmation__table">
								<div class="booking-confirmation__table-left">
									<div class="booking-confirmation__table-element"><span>E-mail</span></div>
									<div class="booking-confirmation__table-element"><span>E-mail</span></div>
								</div>
								<div class="booking-confirmation__table-right">
									<div class="booking-confirmation__table-element"><span>E-mail</span></div>
									<div class="booking-confirmation__table-element"><span>E-mail</span></div>
								</div>
							</div>
							<div class="booking-confirmation__table">
								<div class="booking-confirmation__table-left">
									<div class="booking-confirmation__table-element"><span>E-mail</span></div>
									<div class="booking-confirmation__table-element"><span>E-mail</span></div>
								</div>
								<div class="booking-confirmation__table-right">
									<div class="booking-confirmation__table-element"><span>E-mail</span></div>
									<div class="booking-confirmation__table-element"><span>E-mail</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>  
				<div class="booking-confirmation__button-wrapper">
					<a class="booking-confirmation__button" href="/">
						<span>Back to Home</span>
					</a>
				</div>
			</div>
		</div>
			
		<%- include('inc/footer.html') %>
	</div>
</body>

</html>