<%- include('inc/header.html') %>
    <div class="page-content-wrapper">

        <!-- Main section -->
        <section id="main" class="main-picture ibg ibg--cover">
            <img src="../assets/images/main.jpg" alt="main">
            <div class="main-logo">
                <img src="../assets/images/logo.png" alt="logo" class="logo">
            </div>
            <div class="main-btn">
                <a class="booking-btn">Book now</a>
            </div>
        </section>

        <!-- Section About US -->
                <a name="aboutus"></a>
                <section id="aboutus" class="section-wrapper ibg ibg--cover">
                    <img src="../assets/images/back-down.jpg" alt="back-down">
                    <div class="about__wrap">
                        <div class="description__title--mobile m--b-35">
                            <h1 class="title text--XL">About us</h1>
                        </div>
                        <div class="about__img ibg ibg--cover ratio-w" data-ratio-multiplier="1">
                            <img src="../assets/images/about.jpg" alt="about" class="img-about">
                        </div>
                        <div class="about__description">
                            <div class="description__border m--b-45"></div>
                            <div class="description__item">
                                <div class="description__title">
                                    <h1 class="title text--XL">About us</h1>
                                </div>
                                <div class="description__text">
                                    <p class="text text--M">
                                        Melemele Karaoke is the first karaoke house in Kuwait where families and friends can
                                        gather together, enjoy a
                                        scrumptious meal, and have a blast singing in their very own karaoke room!

                                    </p>
                                </div>
                            </div>
                            <div class="description__border"></div>
                        </div>
                    </div>
                </section>
                <section class="section-sbg">
                    <div class="block__wrapper">
                        <div class="block__pretitle m--b-55">
                            <h2 class="pretitle-text text--XL">Story</h2>
                        </div>
                        <div class="block__content">
                            <div class="block__content-item">
                                <div class="content-item__wrap">
                                    <p class="content-item__text text--M">
                                        Kehaulani was once princess of mount Haupu.
                                        They asked her to sing to the sky so that blessings may come down to them, but no matter
                                        how much she sang no blessings
                                        came. They blamed the princess and exiled her out from the mountain.
                                    </p>
                                </div>
                                <div class="content-item__wrap">
                                    <p class="content-item__text text--M">
                                        Then a band of villagers emerged from the field and huddled around her with flutes and
                                        drums. "Are you a princess? Will
                                        you sing for us and bring blessings from the sky?"
                                    </p>
                                    <p class="content-item__text text--M">
                                        " 'a'ole," she said which meant "No".
                                    </p>
                                    <p class="content-item__text text--M">
                                        "E'olu'olu e ho'a'o! (Please try! Please try!)" pleaded the villagers when they started
                                        humming and drumming.
                                    </p>
                                </div>
                                <div class="content-item__img ibg ibg--contain">
                                    <img src="../assets/images/drumsflute.png" alt="drumsflute">
                                </div>
                                <div class="content-item__wrap">
                                    <p class="content-item__text text--M">
                                        "E kapa au i keia hale he Melemele," she said which meant "I shall name this house,
                                        Melemele," and the princess lived
                                        forevermore in happiness and song!
                                    </p>
                                </div>
                                <div class="meaning">
                                    <div class="block__pretitle m--b-25">
                                        <h2 class="pretitle-text text--XL">Meaning</h2>
                                    </div>
                                    <div class="content-item__wrap">
                                        <p class="content-item__text text--M">
                                            Mele is Hawaiian for "song" and Melemele means "yellow". So we called it Melemele
                                            for
                                            "Happy Song"!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block__content-vector">
                                <div class="vector-img vector-img1 ibg ibg--contain">
                                    <img src="../assets/images/Vector-story1.png" alt="">
                                </div>
                                <div class="vector-img vector-img2 ibg ibg--contain">
                                    <img src="../assets/images/Vector-story2.png" alt="">
                                </div>
                                <div class="vector-img vector-img3 ibg ibg--contain">
                                    <img src="../assets/images/Vector-story3.png" alt="">
                                </div>
                                <div class="vector-img vector-img4 ibg ibg--contain">
                                    <img src="../assets/images/Vector-story4.png" alt="">
                                </div>
                            </div>
                            <div class="block__content-item m--t-45">
                                <div class="content-item__wrap">
                                    <p class="content-item__text text--M">
                                        Down she went in an endless pool of tears when she happened upon a field of yellow
                                        flowers. "Nani loa na pua melemele!"
                                        She said which meant "wow this field of yellow flowers are so beautiful!". She then
                                        plucked a flower and breathed into
                                        and all her worries flew away.
                                    </p>
                                </div>
                                <div class="content-item__img ibg ibg--contain">
                                    <img src="../assets/images/girl.png" alt="princess">
                                </div>
                                <div class="content-item__wrap">
                                    <p class="content-item__text text--M">
                                        The Princess plucked up the courage to sing once more. The beautiful sounds of flutes
                                        and drums suddenly gave life to
                                        her voice which floated like honey in the air.
                                    </p>
                                    <p class="content-item__text text--M">
                                        The sky then grew dark and pale and a torrent of rain fell down the mountain and swept
                                        over the field! Rivers grew all
                                        around them and when the rain passed, the villagers rejoiced and built a house for the
                                        princess!
                                    </p>
                                </div>
                                <div class="content-item__img ibg ibg--cover">
                                    <img src="../assets/images/house.jpg" alt="house">
                                </div>
                            </div>
                        </div>
                        <div class="block__mobile-content">
                            <div class="content-item__wrap">
                                <p class="content-item__text text--M">
                                    Kehaulani was once princess of mount Haupu.
                                    They asked her to sing to the sky so that blessings may come down to them, but no matter how
                                    much she sang no blessings
                                    came. They blamed the princess and exiled her out from the mountain.
                                </p>
                            </div>
                            <div class="content-item__img ibg ibg--contain">
                                <img src="../assets/images/girl.png" alt="princess">
                            </div>
                            <div class="content-item__wrap">
                                <p class="content-item__text text--M">
                                    Down she went in an endless pool of tears when she happened upon a field of yellow flowers.
                                    "Nani loa na pua melemele!"
                                    She said which meant "wow this field of yellow flowers are so beautiful!". She then plucked
                                    a flower and breathed into
                                    and all her worries flew away.
                                </p>
                                <p class="content-item__text text--M" data-readmore-identifier="doc-list-readmore">
                                    Then a band of villagers emerged from the field and huddled around her with flutes and
                                    drums. "Are you a princess? Will
                                    you sing for us and bring blessings from the sky?"
                                </p>
                                <p class="content-item__text text--M" data-readmore-identifier="doc-list-readmore">
                                    " 'a'ole," she said which meant "No".
                                </p>
                                <p class="content-item__text text--M" data-readmore-identifier="doc-list-readmore">
                                    "E'olu'olu e ho'a'o! (Please try! Please try!)" pleaded the villagers when they started
                                    humming and drumming.
                                </p>
                            </div>
                            <div class="content-item__img ibg ibg--contain" data-readmore-identifier="doc-list-readmore">
                                <img src="../assets/images/drumsflute.png" alt="drumsflute">
                            </div>
                            <div class="content-item__wrap" data-readmore-identifier="doc-list-readmore">
                                <p class="content-item__text text--M">
                                    The Princess plucked up the courage to sing once more. The beautiful sounds of flutes and
                                    drums suddenly gave life to
                                    her voice which floated like honey in the air.
                                </p>
                                <p class="content-item__text text--M">
                                    The sky then grew dark and pale and a torrent of rain fell down the mountain and swept over
                                    the field! Rivers grew all
                                    around them and when the rain passed, the villagers rejoiced and built a house for the
                                    princess!
                                </p>
                            </div>
                            <div class="content-item__img ibg ibg--cover" data-readmore-identifier="doc-list-readmore">
                                <img src="../assets/images/house.jpg" alt="house">
                            </div>

                            <div class="content-item__wrap" data-readmore-identifier="doc-list-readmore">
                                <p class="content-item__text text--M">
                                    "E kapa au i keia hale he Melemele," she said which meant "I shall name this house,
                                    Melemele," and the princess lived
                                    forevermore in happiness and song!
                                </p>
                            </div>
                            <div class="read-more__wrapper">
                                <div class="read-more readmore" id="doc-list-readmore">
                                    <span class="read-more__text-more text--M">Read more</span>
                                    <span class="read-more__text-less text--M">Read less</span>
                                    <img src="../assets/images/Arrow-1.png" alt="">
                                </div>
                            </div>
                            <div class="meaning">
                                <div class="block__pretitle m--b-25">
                                    <h2 class="pretitle-text text--XL">Meaning</h2>
                                </div>
                                <div class="content-item__wrap">
                                    <p class="content-item__text text--M">
                                        Mele is Hawaiian for "song" and Melemele means "yellow". So we called it Melemele
                                        for
                                        "Happy Song"!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        <!-- Section Rooms -->
        <section id="rooms" class="section-sbg">
            <div class="content-wrap">
                <div class="content-title">
                    <h1 class="title text--XL">Rooms</h1>
                </div>
                <div class="content">
                    <div class="content__card">
                        <div class="content__item ibg ibg--cover ibg--gray ibg--p-top">
                            <a href="/app/booking/" class="content__overlay-link"></a>
                            <img src="../assets/images/hula.jpg" alt="hula">
                            <div class="item__upstair">
                                <div class="upstair-svg">
                                    <svg class="svg-wrap svg-wrap--person">
                                        <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-person">
                                        </use>
                                    </svg>
                                </div>
                                <div class="upstair-text text--M text--M">
                                    <p>2 - 5 pers.</p>
                                </div>
                            </div>
                            <div class="item__downstair">
                                <div class="item__text">
                                    <a href="">
                                        <h2 class="title-rooms">Hula</h2>
                                    </a>
                                </div>
                                <div class="item__icon">
                                    <div class="modal-trigger" data-modal-id="modal-hula">
                                        <svg class="svg-wrap svg-wrap--image">
                                            <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-image">
                                            </use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__card">
                        <div class="content__item ibg ibg--cover ibg--gray ibg--p-top">
                            <a href="/app/booking/" class="content__overlay-link"></a>
                            <img src="../assets/images/party.jpg" alt="party">
                            <div class="item__upstair item__upstair--party">
                                <div class="upstair-svg">
                                    <svg class="svg-wrap svg-wrap--person">
                                        <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-person">
                                        </use>
                                    </svg>
                                </div>
                                <div class="upstair-text text--M">
                                    <p>5 - 10 pers.</p>
                                </div>
                            </div>
                            <div class="item__downstair">
                                <div class="item__text">
                                    <a href="/app/booking">
                                        <h2 class="title-rooms">Party</h2>
                                    </a>
                                </div>
                                <div class="item__icon">
                                    <div class="modal-trigger" data-modal-id="modal-party">
                                        <svg class="svg-wrap svg-wrap--image">
                                            <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-image">
                                            </use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__card">
                        <div class="content__item ibg ibg--cover ibg--gray ibg--p-top">
                            <a href="/app/booking/" class="content__overlay-link"></a>
                            <img src="../assets/images/ukulele.jpg" alt="ukulele">
                            <div class="item__upstair">
                                <div class="upstair-svg">
                                    <svg class="svg-wrap svg-wrap--person">
                                        <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-person">
                                        </use>
                                    </svg>
                                </div>
                                <div class="upstair-text text--M">
                                    <p>4 - 8 pers.</p>
                                </div>
                            </div>
                            <div class="item__downstair">
                                <div class="item__text">
                                    <a href="">
                                        <h2 class="title-rooms">Ukulele</h2>
                                    </a>
                                </div>
                                <div class="item__icon">
                                    <div class="modal-trigger" data-modal-id="modal-ukulele">
                                        <svg class="svg-wrap svg-wrap--image">
                                            <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-image">
                                            </use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__card">
                        <div class="content__item ibg ibg--cover ibg--gray ibg--p-top">
                            <a href="/app/booking/" class="content__overlay-link"></a>
                            <img src="../assets/images/flamingo.jpg" alt="flamingo">
                            <div class="item__upstair">
                                <div class="upstair-svg">
                                    <svg class="svg-wrap svg-wrap--person">
                                        <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-person">
                                        </use>
                                    </svg>
                                </div>
                                <div class="upstair-text text--M">
                                    <p>2 - 5 pers.</p>
                                </div>
                            </div>
                            <div class="item__downstair">
                                <div class="item__text">
                                    <a href="">
                                        <h2 class="title-rooms">Flamingo</h2>
                                    </a>
                                </div>
                                <div class="item__icon">
                                    <div class="modal-trigger" data-modal-id="modal-flamingo">
                                        <svg class="svg-wrap svg-wrap--image">
                                            <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-image">
                                            </use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Modals for rooms -->

        <div class="def-modal modal modal-bg" id="modal-hula">
            <div class="def-modal__outer-container container">
                <div class="def-modal__inner-container">
                    <div class="def-modal__wrapper modal-window ">
                        <div class="def-modal__top">
                            <div class="def-modal__cross modal-cross">
                                <svg class="svg-wrap svg-wrap--close">
                                    <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-close"></use>
                                </svg>
                            </div>
                            <div class="image-slider-big def-slider">
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                            </div>
                            <div class="image-slider def-slider">
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="def-modal modal modal-bg" id="modal-party">
            <div class="def-modal__outer-container container">
                <div class="def-modal__inner-container">
                    <div class="def-modal__wrapper modal-window">
                        <div class="def-modal__top">
                            <div class="def-modal__cross modal-cross">
                                <svg class="svg-wrap svg-wrap--close">
                                    <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-close"></use>
                                </svg>
                            </div>
                            <div class="image-slider-big def-slider">
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                            </div>
                            <div class="image-slider def-slider">
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="def-modal modal modal-bg" id="modal-ukulele">
            <div class="def-modal__outer-container container">
                <div class="def-modal__inner-container">
                    <div class="def-modal__wrapper modal-window">
                        <div class="def-modal__top">
                            <div class="def-modal__cross modal-cross">
                                <svg class="svg-wrap svg-wrap--close">
                                    <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-close"></use>
                                </svg>
                            </div>
                            <div class="image-slider-big def-slider">
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                            </div>
                            <div class="image-slider def-slider">
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="def-modal modal modal-bg" id="modal-flamingo">
            <div class="def-modal__outer-container container">
                <div class="def-modal__inner-container">
                    <div class="def-modal__wrapper modal-window">
                        <div class="def-modal__top">
                            <div class="def-modal__cross modal-cross">
                                <svg class="svg-wrap svg-wrap--close">
                                    <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-close"></use>
                                </svg>
                            </div>
                            <div class="image-slider-big def-slider">
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider-big__slide">
                                    <div class="image-slider-big__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                            </div>
                            <div class="image-slider def-slider">
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/flamingo.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                                <div class="image-slider__slide">
                                    <div class="image-slider__image ibg ibg--cover">
                                        <img src="../assets/images/hula.jpg" alt="foto">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section for notes(animation) -->

        <section class="section-sbg">
            <div class="animation-wrapper"></div>
        </section>

        <!-- Gallery section -->
        <section id="gallery" class="section-sbg">
            <div class="content-wrap">
                <div class="content-title">
                    <h1 class="title text--XL">Gallery</h1>
                </div>
                <div class="gallery-content">
                    <div class="slider-gallery def-slider">
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                        <div class="slider-gallery-item">
                            <img class="slider-gallery-img" src="../assets/images/hula.jpg" alt="foto">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Follow us -->
        <section id="followus" class="section-wrapper--follow ibg ibg--cover ibg--x-center">
            <img src="../assets/images/back-up.jpg" alt="foto">
            <div class="content__wrap">
                <div class="follow-us__description">
                    <div class="follow-title">
                        <div class="content-title">
                            <h1 class="title text--XL">Follow us</h1>
                        </div>
                    </div>
                    <div class="follow-us__wrapper">
                        <div class="follow-us__text-wrap">
                            <p class="follow-us__text text--M">We are on social media!</p>
                            <p class="follow-us__text text--M">Find us there and you can follow the karaoke life</p>
                        </div>

                        <div class="follow-us__content">
                            <div class="follow-us__item1 ">
                                <svg class="" style="width:53px ; height: 118px;">
                                    <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-Vector-1"></use>
                                </svg>
                            </div>
                            <div class="follow-us__item2">
                                <svg class="svg-wrap svg-wrap--follow">
                                    <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-tiktok-fs"></use>
                                </svg>
                            </div>
                            <div class="follow-us__item3">
                                <svg class="svg-wrap svg-wrap--follow">
                                    <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-Vector-2"></use>
                                </svg>
                            </div>
                            <div class="follow-us__item4">
                                <a class="social__link" href="https://www.instagram.com/melemelekaraoke/">
                                    <svg class="svg-wrap svg-wrap--follow">
                                        <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-instagram-fs"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="follow-us__item5">
                                <svg class="svg-wrap svg-wrap--follow">
                                    <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-Vector-3"></use>
                                </svg>
                            </div>
                            <div class="follow-us__item6">
                                <a class="social__link" href="https://www.facebook.com/melemelekaraoke/">
                                    <svg class="svg-wrap svg-wrap--follow">
                                        <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-facebook-fs"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="follow-us__item7 ">
                                <svg class="svg-wrap svg-wrap--follow">
                                    <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-Vector-4"></use>
                                </svg>
                            </div>
                            <div class="follow-us__item8">
                                <svg class="svg-wrap  svg-wrap--heart">
                                    <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-heart"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="follow-us__imgs">
                    <div class="imgs-item ibg ibg--cover">
                        <img src="../assets/images/follow1.jpg" alt="foto">
                    </div>
                    <div class="imgs-item imgs-item--50 ibg ibg--cover">
                        <img src="../assets/images/follow2.jpg" alt="foto">
                    </div>
                </div>
                <div class="follow-title--adaptive">
                    <div class="content-title">
                        <h1 class="title text--XL">Follow us</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Menu section -->
        <section id="menu" class="section-sbg">
            <div class="content-wrap__menu">
                <a href="./menu-page.html">
                    <div class="content-title">
                        <h1 class="title text--XL">Menu</h1>
                    </div>
                </a>
                <div class="menu__wrap">
                    <div class="menu__section">
                        <div class="menu__item menu__item--vertical ibg ibg--cover ibg--x-center">
                            <div class="menu__item--background ibg ibg--cover ibg--x-center">
                                <img src="../assets/images/ice-cream.jpg" alt="ice-cream">
                                <a href="./menu-page.html#karaoke-menu" class="menu__link">
                                    <div class="menu__title text--L">
                                        <h5>karaoke menu</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="menu__item menu__item--vertical ibg ibg--cover ibg--x-center">
                            <div class="menu__item--background ibg ibg--cover ibg--x-center">
                                <img src="../assets/images/ensalada.jpg" alt="salads">
                                <a href="./menu-page.html#dining-menu" class="menu__link">
                                    <div class="menu__title text--L">
                                        <h5>dining menu</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="menu__item menu__item--vertical ibg ibg--cover ibg--x-center">
                            <div class="menu__item--background ibg ibg--cover ibg--x-center">
                                <img src="../assets/images/postres.jpg" alt="deserts">
                                <a href="./menu-page.html#deserts" class="menu__link">
                                    <div class="menu__title text--L">
                                        <h5>deserts</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu__section">
                        <div class="menu__item menu__item--horizontal ibg ibg--cover ibg--x-center">
                            <div class="menu__item--background ibg ibg--cover ibg--x-center">
                                <img src="../assets/images/cold-drinks.jpg" alt="cold-drinks">
                                <a href="./menu-page.html#cold-drinks" class="menu__link">
                                    <div class="menu__title text--L">
                                        <h5>cold drinks</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="menu__item menu__item--horizontal ibg ibg--cover ibg--x-center">
                            <div class="menu__item--background ibg ibg--cover ibg--x-center">
                                <img src="../assets/images/hot-drinks.jpg" alt="hot-drinks">
                                <a href="./menu-page.html#hot-drinks" class="menu__link">
                                    <div class="menu__title text--L">
                                        <h5>hot drinks</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Our contacts section-->
        <section id="contacts" class="section-wrapper--contacts ibg ibg--cover">
            <img src="../assets/images/back-down.jpg" alt="foto">
            <div class="contacts-wrap">
                <div class="content-title">
                    <h1 class="title text--XL">Our contacts</h1>
                </div>
                <div class="contacts">
                    <div class="contacts__maps ibg ibg--cover">
                        <img src="../assets/images/location.jpg" alt="maps">
                    </div>
                    <div class="contacts__contact">
                        <div class="contacts__description">
                            <div class="contacts__item">
                                <a href="" class="contacts__direction">
                                    <svg class="svg-wrap">
                                        <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-location"></use>
                                    </svg>
                                    <p class="contacts__text text--S text--S">
                                        AlTa'awon St Al-Bidaa, Kuwait
                                    </p>
                                </a>
                            </div>
                            <div class="contacts__item">
                                <a class="contacts__link" href="tel:#">
                                    <svg class="svg-wrap">
                                        <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-phone"></use>
                                    </svg>
                                    <p class="contacts__text text--S">
                                        +965 9977 6215
                                    </p>
                                </a>
                            </div>
                            <div class="contacts__item">
                                <a class="contacts__link" href="mailto:#">
                                    <svg class="svg-wrap">
                                        <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-mail"></use>
                                    </svg>
                                    <p class="contacts__text text--S">
                                        melemelekaraoke@gmail.com
                                    </p>
                                </a>
                            </div>
                            <div class="contacts__item">
                                <div class="contacts__worktime">
                                    <svg class="svg-wrap">
                                        <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-workinghours"></use>
                                    </svg>
                                    <div class="worktime__week">
                                        <div class="worktime__days">
                                            <p class="contacts__text text--S">Sunday</p>
                                            <p class="contacts__text text--S">Monday</p>
                                            <p class="contacts__text text--S">Tuesday</p>
                                            <p class="contacts__text text--S">Wednesday</p>
                                            <p class="contacts__text text--S">Thursday</p>
                                            <p class="contacts__text text--S">Friday</p>
                                            <p class="contacts__text text--S">Saturday</p>
                                        </div>
                                        <div class="worktime__time">
                                            <p class="contacts__text text--S">12:00 – 22:00</p>
                                            <p class="contacts__text text--S">12:00 – 22:00</p>
                                            <p class="contacts__text text--S">12:00 – 22:00</p>
                                            <p class="contacts__text text--S">12:00 – 22:00</p>
                                            <p class="contacts__text text--S">12:00 – 00:00</p>
                                            <p class="contacts__text text--S">12:00 – 00:00</p>
                                            <p class="contacts__text text--S">12:00 – 22:00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contacts__button-wrap">
                            <a class="contacts__button text--L">
                                visit us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('inc/footer.html') %>
    </div>
    </body>

    </html>