<%- include('inc/header.html') %>
    <div class="page-content-wrapper">
        <!-- Main section -->
        <section class="main-picture">
            <div class="main-logo">
                <img src="../assets/images/logo.png" alt="logo" class="logo">
            </div>
            <div class="main-btn">
                <button class="booking-btn">Book now</button>
            </div>
        </section>
        <!-- Section About US -->
        <section class="section-wrapper">
            <div class="about__wrap">
                <div class="about__img ibg ibg--cover">
                    <img src="../assets/images/about.jpg" alt="about" class="img-about">
                </div>
                <div class="about__description">
                    <div class="description__border m--b-45"></div>
                    <div class="description__item">
                        <div class="description__title">
                            <h1 class="title">About us</h1>
                        </div>
                        <div class="description__text">
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra in auctor nibh risus
                                sit. Rutrum quam urna nibh et,
                                aliquet gravida velit proin consequat. Commodo arcu cras tellus massa aenean volutpat,
                                a, erat. Viverra morbi nibh urna
                                sed at in elementum ac nunc. Turpis iaculis interdum mattis arcu scelerisque mi egestas
                                mi.

                            </p>
                        </div>
                    </div>
                    <div class="description__border"></div>
                </div>
            </div>
        </section>
    </div>


    <%- include('inc/footer.html') %>
        </body>

        </html>