<%- include('inc/header.html') %>
    <div class="page-content-wrapper">
        <!-- Main section -->
        <!-- <section class="main-picture">
            <div class="main-logo">
                <img src="../assets/images/logo.png" alt="logo" class="logo">
            </div>
            <div class="main-btn">
                <button class="booking-btn">Book now</button>
            </div>
        </section> -->
        <!-- Section About US -->
        <!-- <section class="section-wrapper">
            <div class="about__wrap">
                <div class="description__title--mobile m--b-35">
                    <h1 class="title text--XL">About us</h1>
                </div>
                <div class="about__img ibg ibg--cover ratio-w" data-ratio-multiplier="1">
                    <img src="../assets/images/about.jpg" alt="about" class="img-about">
                </div>
                <div class="about__description">
                    <div class="description__border m--b-45"></div>
                    <div class="description__item">
                        <div class="description__title">
                            <h1 class="title text--XL">About us</h1>
                        </div>
                        <div class="description__text">
                            <p class="text text--S">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra in auctor nibh risus
                                sit. Rutrum quam urna nibh et,
                                aliquet gravida velit proin consequat. Commodo arcu cras tellus massa aenean volutpat,
                                a, erat. Viverra morbi nibh urna
                                sed at in elementum ac nunc. Turpis iaculis interdum mattis arcu scelerisque mi egestas
                                mi.

                            </p>
                        </div>
                    </div>
                    <div class="description__border"></div>
                </div>
            </div>
        </section> -->
        <!-- Section Rooms -->
        <section class="section-sbg">
            <div class="content-wrap">
                <div class="content-title">
                    <h1 class="title text--XL">Rooms</h1>
                </div>
                <div class="content">
                    <ul class="ul-width">
                        <li>
                            <a href="#">
                                <div class="content__item ibg ibg--cover ibg--gray ibg--gray">
                                    <img src="../assets/images/hula.jpg" alt="hula">
                                    <div class="item__upstair">
                                        <div class="upstair-svg">
                                            <svg class="svg-wrap svg-wrap--person">
                                                <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-person">
                                                </use>
                                            </svg>
                                        </div>
                                        <div class="upstair-text text--M text--M">
                                            <p>2 - 5 pers.</p>
                                        </div>
                                    </div>
                                    <div class="item__downstair">
                                        <div class="item__text">
                                            <h2 class="title-rooms">Hula</h2>
                                        </div>
                                        <div class="item__icon">
                                            <svg class="svg-wrap svg-wrap--image">
                                                <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-image">
                                                </use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <span class="overlay"></span>
                        </li>
                        <li>
                            <a href="#">
                                <div class="content__item ibg ibg--cover ibg--gray">
                                    <img src="../assets/images/party.jpg" alt="party">
                                    <div class="item__upstair item__upstair--party">
                                        <div class="upstair-svg">
                                            <svg class="svg-wrap svg-wrap--person">
                                                <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-person">
                                                </use>
                                            </svg>
                                        </div>
                                        <div class="upstair-text text--M">
                                            <p>5 - 10 pers.</p>
                                        </div>
                                    </div>
                                    <div class="item__downstair">
                                        <div class="item__text">
                                            <h2 class="title-rooms">Party</h2>
                                        </div>
                                        <div class="item__icon">
                                            <svg class="svg-wrap svg-wrap--image">
                                                <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-image">
                                                </use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <span class="overlay"></span>
                        </li>
                        <li>
                            <a href="#">
                                <div class="content__item ibg ibg--cover ibg--gray">
                                    <img src="../assets/images/ukulele.jpg" alt="ukulele">
                                    <div class="item__upstair">
                                        <div class="upstair-svg">
                                            <svg class="svg-wrap svg-wrap--person">
                                                <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-person">
                                                </use>
                                            </svg>
                                        </div>
                                        <div class="upstair-text text--M">
                                            <p>4 - 8 pers.</p>
                                        </div>
                                    </div>
                                    <div class="item__downstair">
                                        <div class="item__text">
                                            <h2 class="title-rooms">Ukulele</h2>
                                        </div>
                                        <div class="item__icon">
                                            <svg class="svg-wrap svg-wrap--image">
                                                <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-image">
                                                </use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <span class="overlay"></span>
                        </li>
                        <li>
                            <a href="#">
                                <div class="content__item ibg ibg--cover ibg--gray">
                                    <img src="../assets/images/flamingo.jpg" alt="flamingo">
                                    <div class="item__upstair">
                                        <div class="upstair-svg">
                                            <svg class="svg-wrap svg-wrap--person">
                                                <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-person">
                                                </use>
                                            </svg>
                                        </div>
                                        <div class="upstair-text text--M">
                                            <p>2 - 5 pers.</p>
                                        </div>
                                    </div>
                                    <div class="item__downstair">
                                        <div class="item__text">
                                            <h2 class="title-rooms">Flamingo</h2>
                                        </div>
                                        <div class="item__icon">
                                            <svg class="svg-wrap svg-wrap--image">
                                                <use href="../assets/images/svg/sprite/symbol-defs.svg#icon-image">
                                                </use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <span class="overlay"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>


    <%- include('inc/footer.html') %>
        </body>

        </html>