<%- include('inc/header.html') %>
    <div class="page-content-wrapper">
        <div class="main-logo">
            <img src="../assets/images/logo.png" alt="logo" class="logo">
        </div>
        <section class="section-sbg">
            <div class="menu-page__title--mobile m--b-35">
                <h1 class="title text--XL">Menu</h1>
            </div>
            <div class="menu-page__chef">
                <div class="chef__img">
                    <img src="../assets/images/chef.jpg" alt="chef">
                    <div class="chef__square square1"></div>
                    <div class="chef__square square2"></div>
                </div>
                <div class="chef__word">
                    <p class="word__pretitle">

                    </p>
                </div>
            </div>
        </section>
        <%- include('inc/footer.html') %>
    </div>

    </body>

    </html>