.def-slider{
	min-width: 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/* Слайдер */
	.slick-slider{
		position: relative;
		padding: 0 30px;
	}
	/* Слайдер запущен */
	.slick-slider.slick-initialized{}
	/* Слайдер с точками */
	.slick-slider.slick-dotted{}
	/* Ограничивающая оболочка */
	.slick-list {
		overflow: hidden;
		flex: 1 1;
		height: 100%;
	}
	/* Лента слайдов */
	.slick-track{
		display: flex;
		height: 100%;
	}
	/* Слайд */
	.slick-slide{
		
	}
	/* Слайд активный (показывается) */
	.slick-slide.slick-active{}
	/* Слайд основной */
	.slick-slide.slick-current{

	}
	/* Слайд по центру */
	.slick-slide.slick-center{
		border: 1px solid #fff;
		border-radius: 8px;
	}
	/* Клонированный слайд */
	.slick-slide.slick-cloned{}
	/* Стрелка */
	.slick-arrow{
		position: absolute;
		font-size: 0;
		box-sizing: border-box;
		top: 35%;
		width: 25px;
		height: 25px;
		z-index: 10;
		border-radius: 3px;
		border-left:none;
		border-bottom:none;
		border-right:5px solid #fff;
		border-top:5px solid #fff;
		background-color: transparent;
		&:hover{
			border-right: 5px solid $hover-color;
			border-top: 5px solid $hover-color;
		}
		&:active{ 
			border-right: 5px solid $active-color;
			border-top: 5px solid $active-color;
		}
		@media screen and(max-width:$tabletWidth){
			width: 15px;
			height: 15px;
			border-right:4px solid #fff;
			border-top:4px solid #fff;
		}
		@media screen and(max-width: $smTabletWidth) {
			top: 105%;
		}
	}
	
	.slick-arrow.slick-prev{
		left: 0%;
		transform: rotate(-135deg);
	}
	.slick-arrow.slick-next{
		right: 0%;
		transform: rotate(45deg);
	}
	.slick-arrow.slick-disabled{
		border-color: #333;
	}
	/* Точки */
	.slick-dots{
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 20px 0 0;
		padding: 0;
		flex-wrap: nowrap;
	}
	.slick-dots li{
		list-style: none;
	}
	/* Активная точка */
	.slick-dots li.slick-active{
		border-color: $flamingo-color;
	}
	/* Элемент точки */
	.slick-dots li button{
		position: relative;
		padding: 0;
		margin: 0 15px;
		font-size: 0;
		background: #fff;
		border-radius: 50%;
		border-color:transparent;
		width: 16px;
		height: 16px;

	}
	.slick-dots li.slick-active button{
		background: $flamingo-color;
		
	}
}
.image-slider{
	filter: grayscale(1);
	@media screen and(max-width:$smTabletWidth) {
		display: none !important;
	}
}
.image-slider-big{
	margin-bottom: 30px;
	@media screen and(max-width:$smTabletWidth){
		margin-bottom: 15px;
	}
}
.image-slider,
.image-slider-big{
	width: 750px;
	@media screen and(max-width:$tabletWidth) {
		width: 535px;
	}
	@media screen and(max-width:$smTabletWidth) {
		width: 350px;
	}
	@media screen and(max-width:$phoneWidth) {
		width: calc(100vw - 100px);
	}
	@media screen and(max-width:$smPhoneWidth ) {
		width: calc(100vw - 75px);
	}
}
.image-slider__image,
.image-slider-big__image{
    width: 100%;
	border-radius: 8px;
}
.image-slider__slide{
	margin: 0 25px;
}
.image-slider__image{
	aspect-ratio: 1.8;
	
}
.image-slider-big__image{
	aspect-ratio: 1.9;
	@media screen and(max-width:$smTabletWidth) {
		aspect-ratio: 1.4;
	}
}