.image-slider {
    width: 600px;
    height: 100%;
    overflow: hidden;
		// .image-slider__wrapper

		&__wrapper {
		}

		// .image-slider__slide

		&__slide {
		}

		// .image-slider__image

		&__image{
            
            &>img{
                border-radius: 8px;
                background-size: contain;
                max-width: 100%;
            }
		}
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {

		// .swiper-slide__image

		&__image {
		}
}
.swiper-button-prev,
.swiper-button-next {
    color: $mainFontColor;
}
.swiper-scrollbar-drag {
    background-color: $mainFontColor;
}

