.image-slider {
    width: 700px;
    height: 100%;
    overflow: hidden;
	@media screen and (max-width:$tabletWidth){
		width: auto;
	}

		// .image-slider__wrapper

		&__wrapper {
		}

		// .image-slider__slide

		&__slide {
		}

		// .image-slider__image

		&__image{
            
            &>img{
                border-radius: 8px;
                background-size: contain;
                max-width: 100%;
            }
		}
}

.swiper-button-prev,
.swiper-button-next {
    color: $mainFontColor;
}
.swiper-scrollbar-drag {
    background-color: $mainFontColor;
}

.image-slider-gallery{
	width: 100%;
	height: 700px;
	&__wrapper {
		position: relative;
		height: 600px;
	}

	&__slide,.swiper-slide {
		height: calc(100% / 2);
		overflow: hidden;
		// @media screen and (max-width:$smTabletWidth){
		// 	height: calc(100% / 4);
		// 	width: calc(100% / 2);
		// }
	}
	&__image{    
        &>img {
            background-size: cover;
            max-width: 100%;
        }
	}
}
.swiper-pagination{
	bottom: 0px;
	margin-bottom: 30px;
}
.swiper-pagination-bullet{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #fff;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	border: solid $flamingo-color;
	background: $flamingo-color;
}

// SWIPER MENU PAGE
.content-menu{
	display: flex;
	flex-direction: column;
	justify-items: center;
	margin: 0 auto;
	overflow: hidden;
	&__wrap{
		position: relative;
		width: 100%;
	}
	@media screen and (min-width:$desktopWidth){
		width: calc(100% - 240px - 48px);
	}
	@media screen and (max-width:$desktopWidth){
		width: calc(100% - 240px);
	}
	@media screen and (max-width:$tabletWidth){
		width: calc(100% - 10%);
	}
}
.image-slider-menu {
	width: 100%;
		// .image-slider-menu__wrapper

		&__wrapper {
			height:800px;
			margin-bottom: 60px;
			@media screen and (max-width:$tabletWidth){
				height: 600px;
			}
			@media screen and (max-width:$phoneWidth ){
				height: 350px;
			}
		}

		// .image-slider-menu__slide

		&__slide,.swiper-slide {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			filter: drop-shadow(10px 10px 6px #000000);
			border-radius: 20px;
			height: calc((100% - 30px) / 2);
			overflow: hidden;
			margin-top: 0;
		@media screen and (max-width:$phoneWidth){
			height: 100% ;
		}
	}

		// .image-slider-menu__image


		// .image-slider-menu__description

		&__description {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-height: 150px;
			padding: 15px 20px;
			width: 100%;
			background: rgba(255, 255, 255, 0.9);
			border-radius: 0px 0px 20px 20px;
			@media screen and (max-width:$tabletWidth){
				
			}
		}

		// .image-slider-menu__title

		&__title {
			font-family: $roomFont;
			font-style: normal;
			font-weight: 700;
			color: $background-color;
		}

		// .image-slider-menu__text

		&__text {
			font-family: $mainFont;
			font-style: normal;
			font-weight: 400;
			color: #3A3838;
			margin-bottom: 5px;
		}

		// .image-slider-menu__price

		&__price {
			align-self: flex-end;
			font-family: $roomFont;
			font-style: normal;
			font-weight: 700;
			color: #FC4F53;
			text-align: end;
		}
		&__price-type{
			color: #000000;
			margin-right: 20px;
		}
}

.slider-button-prev-menu,
.slider-button-next-menu {
	z-index: 40;
    position: absolute;
    top: 44%;
	@media screen and (max-width:$tabletWidth){
		top: 43%;
	}
	@media screen and (max-width:$smTabletWidth ){
		display: none;
	}
}

.slider-button-prev-menu{
	left: 6%;
	@media screen and (max-width:$tabletWidth){
		left: 1%;;
	}
}

.slider-button-next-menu {
	right: 6%;
	@media screen and (max-width:$tabletWidth){
		right: 1%;
	}
}

.swiper-pagination-bullets-dynamic{
	display: inline;
    position: absolute;
}
.swiper-pagination-bullet{
	@media screen and (max-width:$smTabletWidth){
		width: 15px;
		height: 15px;
	}
}

