.image-slider {
    width: 700px;
    height: 100%;
    overflow: hidden;
	@media screen and (max-width:$tabletWidth){
		width: auto;
	}

		// .image-slider__wrapper

		&__wrapper {
		}

		// .image-slider__slide

		&__slide {
		}

		// .image-slider__image

		&__image{
            
            &>img{
                border-radius: 8px;
                background-size: contain;
                max-width: 100%;
            }
		}
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {

		// .swiper-slide__image

		&__image {
		}
}
.swiper-button-prev,
.swiper-button-next {
    color: $mainFontColor;
}
.swiper-scrollbar-drag {
    background-color: $mainFontColor;
}

.image-slider-gallery{
	width: 100%;
	height: 700px;
	&__wrapper {
		position: relative;
		height: 600px;
	}

	&__slide,.swiper-slide {
		height: calc(100% / 2);
		overflow: hidden;
		@media screen and (max-width:$smTabletWidth){
			height: calc(100% / 4);
			width: calc(100% / 2);
		}
	}
	&__image{    
        &>img {
            background-size: cover;
            max-width: 100%;
        }
	}
}
.swiper-pagination{
	bottom: 0px;
	margin-bottom: 30px;
}
.swiper-pagination-bullet{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #fff;
}
.swiper-pagination-bullet-active{
	border: solid $flamingo-color;
	background: $flamingo-color;
}


