
.font{
	&--prim-text{
		font-family: $primaryTextFont;
	}
	&--sec-text{
		font-family: $secondaryTextFont;
	}
	&--prim-title{
		font-family: $primaryTitleFont;
	}
	&--sec-title{
		font-family: $secondaryTitleFont;
	}
}
.text{
	&--300{
		font-weight: 400;
	}
	&--400{
		font-weight: 400;
	}
	&--500{
		font-weight: 500;
	}
	&--700{
		font-weight: 700;
	}
	&--col{
		&-primary{
			color: $fontColorPrimary;
		}
		&-inv-primary{
			color: $fontColorPrimaryInv;
		}
	}
	&--XXL{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeXXL_desktop, $fontSizeXXL_mobile);
		&--static{
			font-size: $fontSizeXXL_desktop;
		}
	}
	&--XL{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeXL_desktop, $fontSizeXL_mobile);
		&--static{
			font-size: $fontSizeXL_desktop;
		}
	}
	&--L{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeL_desktop, $fontSizeL_mobile);
		&--static{
			font-size: $fontSizeL_desktop;
		}
	}
	&--M{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeM_desktop, $fontSizeM_mobile);
		&--static{
			font-size: $fontSizeM_desktop;
		}
	}
	&--S{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeS_desktop, $fontSizeS_mobile);
		&--static{
			font-size: $fontSizeS_desktop;
		}
	}
	&--XS{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeXS_desktop, $fontSizeXS_mobile);
		&--static{
			font-size: $fontSizeXS_desktop;
		}
	}

	&--uppercase{
		text-transform: uppercase;
	}
	&--center{
		text-align: center;
	}
}

//input
input{
	&:not(.input--styled){
		color: inherit !important;
		font-family: inherit !important;
		font-size: inherit !important;
		line-height: inherit !important;
		font-weight: inherit !important;
	}
	&:not(.input--placeholder-styled){
		&::placeholder{
			color: inherit !important;
			font-family: inherit !important;
			font-size: inherit !important;
			line-height: inherit !important;
			font-weight: inherit !important;
			opacity: 0.6;
		}
	}
}
select{
	&:not(.select--styled){
		color: inherit !important;
		font-family: inherit !important;
		font-size: inherit !important;
		line-height: inherit !important;
		font-weight: inherit !important;
	}
	&:not(.select--placeholder-styled){
		&::placeholder{
			color: inherit !important;
			font-family: inherit !important;
			font-size: inherit !important;
			line-height: inherit !important;
			font-weight: inherit !important;
			opacity: 0.6;
		}
		
	}
}