/* Vars:
  ========================================================================== */
//Def font vars
$primaryTextFont         : Chivo, sans-serif;
$secondaryTextFont       : Roboto, sans-serif;
$primaryTitleFont        : PlayfairDisplay, serif;
$secondaryTitleFont      : PT Sans, sans-serif;
$signFont                : AguafinaScript, cursive;
//Def font colors
$fontColorPrimary        : #fff;
$fontColorPrimaryInv     : #232020;

//Def font sizes
$fontSizeXXL_desktop     : 64px;
$fontSizeXXL_mobile      : 32px;

$fontSizeXL_desktop      : 48px;
$fontSizeXL_mobile       : 32px;

$fontSizeL_desktop       : 32px;
$fontSizeL_mobile        : 22px;

$fontSizeM_desktop       : 20px;
$fontSizeM_mobile        : 16px;

$fontSizeS_desktop       : 16px;
$fontSizeS_mobile        : 12px;

$fontSizeXS_desktop      : 12px;
$fontSizeXS_mobile       : 10px;


// Font
$mainFont                : Chivo, sans-serif;
$headFont                : PlayfairDisplay, serif;
$roomFont                : PT Sans, sans-serif;
$secondFont              : Roboto, sans-serif;

// Size
$mainFontColor           : #ffffff;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1440px;
$smDesktopWidth          : 1200px;
$tabletWidth             : 992px;
$roomsWidth              : 890px;
$smTabletWidth           : 768px;
$phoneWidth              : 576px;
$smPhoneWidth            : 320px;

/*
  All colors taken from:
  https://github.com/vedees/uimini
*/

// Main color
$background-color        : #232020;
$mobile-background-color : rgba(35, 32, 32, 0.9);
$pop-up-color            : rgba(255, 255, 255, 0.9);
$hover-color             : linear-gradient(180deg, #FEE159 0%, #F569A3 100%);
$active-color            : linear-gradient(90.48deg, #9747FF 0.45%, #F569A3 99.63%);
$default-color           : #979797;

// Neutral Color
$hula-color              : #902FDC;
$party-color             : #1D4ED8;
$ukulele-color           : #FEE159;
$flamingo-color          : #F569A3;
$packages-color          : #FC4F53;


// Border Color
$border-base             : #FFFFFF;

// // SVG Gradient Colors 
#hover{
  --color-stop-1: #FEE159;
  --color-stop-2: #F569A3;
}
#active{
  --color-stop-1: #9747FF;
  --color-stop-2: #F569A3;
}