.content__wrap{
	display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 90px 100px;
	@media screen and (max-width: 1050px){
		flex-direction: column-reverse;
		padding: 50px 10px;
	};
}
.follow-us {

		// .follow-us__description

		&__description {
			padding-left: 60px;
		}

		// .follow-us__wrapper

		&__wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 250px;
			position: relative;
			padding: 10px;
			@media screen and (max-width:1280px){
			height: 220px;
		}
		}
		&__text-wrap{
			margin-bottom: 25px;
		}
		// .follow-us__text

		&__text {
			font-family: $mainFont;
			font-style: normal;
			font-weight: 400;
		}

		// .follow-us__content

		&__content {
			display: flex;
			justify-content: space-evenly;
		}

		// .follow-us__item1

		&__item1 {
			
			position: absolute;
			top: 40px;
			left: -50px;
		}

		// .follow-us__item2

		&__item2 {
			margin-top: -20px;
		}

		// .follow-us__item3

		// .follow-us__item6

		&__item6 {
			margin-top: -20px;
			@media screen and (max-width:1280px){
			margin-top: -10px;
		}
		}


		// .follow-us__item8

		&__item8 {
			margin-top: -60px;
		}

		// .follow-us__imgs

		&__imgs {
			position: relative;
			display: flex;
			flex-direction: row;
			@media screen and (max-width:1050px){
				margin-bottom: 25px;
				width: inherit;
				justify-content: space-around;
			}
			
		}
}

.imgs-item {
	width: 255px;
	height: 386px;
	border-radius: 8px;
	&:not(:last-child){
		margin-right: 25px;
	}
	@media screen and (max-width:1280px){
		width: 210px;
		height: 330px;
	}
	@media  screen and (max-width:$phoneWidth) {
		width: 180px;
		height: 280px;
	}
	@media screen and (max-width:$smPhoneWidth){
		width: 110px;
		height: 168px;	
	}
	&--50{
		margin-top: -50px;
		@media screen and (max-width:1050px) {
			margin: -20px;
		};
		@media  screen and (max-width:$phoneWidth) {
		width: 210px;
		height: 330px;
		margin: 0px;
	}
		@media screen and (max-width:$smPhoneWidth){
		width: 125px;
		height: 190px;	
	}
	}
}
.follow-title{
	text-align-last: start;
	@media screen and (max-width:1050px){
		display: none;
	}
}
.follow-title--adaptive{
	display: none;
	@media screen and(max-width:1050px){
		display: block;
	}
}
