
.about {

		// .about__wrap

		&__wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 100px 105px;
            @media screen and (max-width: $smDesktopWidth){
                padding: 55px;  
            }
            @media screen and (max-width:$smTabletWidth){
                  flex-direction: column;  
                  justify-content: space-between; 
            }
            @media screen and (max-width:$phoneWidth){
                  justify-content: flex-start;
                  padding: 30px;
            }
		}

		// .about__img

		&__img {
            width: 100%;
            border-radius: 10px;
            
            @media screen and (max-width: $desktopWidth){
                  flex: 0 0 60%;
            }
            @media screen and (max-width:$smTabletWidth){
                  flex: 0 0 50%;  
                  margin-bottom: 35px; 
            }
		}

		// .about__description

		&__description {
            flex: 0 0 50%;
            @media screen and (max-width: $desktopWidth){
                  flex: 0 0 40%;
            }
            @media screen and (max-width:$smTabletWidth){
                  flex:none;   
            }
		}
}
.img-about {
    width: 100%;
}
.description {
    flex: 0 0 50%;
		// .description__border

		&__border {
                  width: 100%;
                  border: 1px dashed #FFFFFF;
            @media screen and (max-width:$smTabletWidth){
                  display: none;   
            }
		}

		// .description__title

		&__title {
            margin-bottom: 25px;
            &--mobile{
                  display: none;
                  @media screen and (max-width:$smTabletWidth){
                     display: block;   
                  }
            }
            @media screen and (max-width: $smTabletWidth){
                  display: none;
            }
		}
        // .description__item

		&__item {
            padding: 40px 35px;
            background: #3A3838;
            border-radius: 8px;
            margin-left: -150px;
            margin-bottom: 45px;
            @media screen and (max-width: $tabletWidth){
                  padding: 20px 25px;
            }
             @media screen and (max-width:$smTabletWidth){
                margin: 0;   
            }
		}

		// .description__text

		&__text {
            margin-bottom: 10px;
		}
}

