.content-wrap__menu{
    display: block;
    padding: 80px 105px;
    @media screen and(max-width: $smDesktopWidth){
        padding: 80px 40px;
    };
    @media screen and(max-width: $smTabletWidth){
        padding: 80px 20px;
    };
        
}

.menu {

		// .menu__wrap

		&__wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
            @media screen and(max-width: $phoneWidth){
                row-gap: 15px;
            }
		}

		// .menu__section

		&__section {
            display: flex;
            width: 100%;
            justify-content:space-between;
            @media screen and(max-width: $phoneWidth){
                flex-direction: column;
            }
		}

		// .menu__item

		&__item {
            position: relative;
            border-radius: 8px;

            &:hover>&--background{
                transition: all 0.6s;
                animation:pulse 0.75s ease-in-out;
            }
            // &::after,
            // &::before{
            //     content: '';
            //     position: absolute;
            //     border: 2px solid #3D64FF;
            //     left: -20px;
            //     opacity: 0;
            //     right: -20px;
            //     top: -20px;
            //     bottom: -20px;
            //     border-radius: 50%;
                
            // }
            // &::after{
            //     animation-delay: 1.25s;
            // }
            @keyframes pulse {
            0% {
                transform: scale(0.9);
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                transform: scale(1.1);
                opacity: 1;
            }
            }

            // &:not(:last-child) {
            //    margin-right: 30px; 
            // }
            &--vertical{
                width: calc(100% / 3 - 15px);
                aspect-ratio: 0.6;
            }
            &--horizontal{
                width: calc(100%  / 2 - 15px);
                aspect-ratio: 2;
		    }
            &--background{
                border-radius: 8px;
                width: 100%;
                height: 100%;
            }
            @media screen and (max-width:$phoneWidth){
                width: 100%;
                height: 120px;
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }

		&__link {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
		}

		// .menu__title

		&__title {
            min-width: 150px;
            text-align: center;
            text-transform: uppercase;
            font-family: $mainFont;
            font-style: normal;
            font-weight: 900;
            align-self: center;
            padding: 10px 50px;
            background: #232020;
            border-radius: 8px;
            @media screen and (max-width:$tabletWidth){
                padding: 8px;
            }
		}
}
