.content-wrap {
    display: block;
    padding: 90px 0;
    &--menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width:$tabletWidth) {
        padding: 60px 0;
    }
    @media screen and (max-width:$phoneWidth){
        padding: 32px 0;
    }
}
.content-title {
    margin-bottom: 60px;
    text-align: center;
    @media screen and (max-width:$phoneWidth){
        margin-bottom: 30px;
    }
}
.content {
    position: relative;
    display: flex;
    @media  screen and (max-width: $roomsWidth) {
        flex-direction: column;
        
    }
		// .content__item

		&__item {
            position: relative;
            display: flex;
            transition: all 0.5s;
            flex-direction: column;
            justify-content:space-between;
            padding: 30px;
            height: 675px;
            flex: 0 0 25%;
            @media screen and (max-width: $roomsWidth) {
                background-position-y: top;
                height: 100%;
            }
		}
        &__card{
            position: relative;
            width: calc(100% / 4); 
            transition: all 0.5s;
            @media screen and (max-width:$roomsWidth){
                width: 100%;
                height: 200px;
            }
            @media screen and (max-width:$phoneWidth){
                height: 140px;
            }
            &:hover {
                width: calc(25% + 10%);
                padding: 0 -30px;
                @media screen and (max-width:$roomsWidth){
                    width: 100%;
                    height: calc(200px + 100px);
                }
                @media screen and (max-width:$roomsWidth){
                    width: 100%;
                    height: calc(140px + 70px);
                }
            }
            

        }
    &__overlay-link{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        cursor: pointer;
    }
}
.item {
		// .item__upstair

		&__upstair {
            opacity: 0 ;
            transition: all 0.5s;
            display: flex;
            align-items: center;
            &--party{
                width: fit-content;
                padding: 5px;
                background: rgba(29, 78, 216, 0.7);
                border-radius: 8px;
            }
		}

		// .item__downstair

		&__downstair {
            display: flex;
            align-items: center;
            justify-content: space-between;
		}

		// .item__text

		&__text {
		}

		// .item__icon

		&__icon {
            opacity: 0;
            transition: all 0.5s;
		}
}

.upstair-text {
    font-family: $secondFont;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color:$mainFontColor;
}
.upstair-svg{
    margin-right: 10px;
}
.title-second {
}

.content {
    overflow: hidden;
    position: relative;
}    
.content__item{
    &:hover{
        .item{
            &__upstair{
            opacity: 1;
            }
            &__icon{
                opacity: 1;
            }
        }
        .title-rooms{
            transition: all 0.5s;
            font-size: 70px;
            line-height: 91px;
            @media screen and (max-width:$tabletWidth){
		        font-size: 50px;
	            line-height: 65px;
	        }
        }   
    }
}
.overlay{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}